<%# locals: (card:, resource: card.resource) %>
<li id="<%= dom_id(card) %>" draggable data-sortable-id-value="<%= card.id %>" class="px-3 py-2 bg-white rounded-md shadow-xs relative group">
  <%= tag.p resource.title, class: "text-sm font-normal text-gray-900" %>
  <%= link_to card_path(card), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "absolute top-2 right-2 opacity-0 group-hover:opacity-100 transition-opacity" do %>
    <svg class="w-4 h-4 text-red-500 hover:text-red-700" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
    </svg>
  <% end %>
</li>
