<%# locals: (column:) %>
<li draggable data-sortable-id-value="<%= column.id %>"class="w-80 h-[calc(100dvh-4rem)] shrink-0 bg-gray-100 shadow-inner rounded-lg overflow-y-auto">
  <h2 class="sticky top-0 px-4 py-2 font-medium text-gray-800 bg-gray-100">
    <%= column.name %>
  </h2>

  <ul data-controller="sortable" data-sortable-endpoint-value="<%= card_path(id: "__ID__") %>" class="flex flex-col gap-y-2 px-4 pb-4">
    <%= render column.cards %>
  </ul>
</li>
